snippet meta(data)? "Markdown metadata front matter" br
# TO-DO

[] Sample to-do

## In Progress

[o] Sample progress

## Finished

[x] Sample finished


### End Notes

```
Sample end Notes

```
endsnippet

